.study-page-container {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-image: url("../../../assets/img/HomePage/3study.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  