.activity-detail-page-container {
    height: 110%;
    width: 100%;
    margin: 0 0 0 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-image: url("../../../../assets/img/Common/bg4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  